.App-logo {
  /*animation: FeedbackForm-logo-spin infinite 20s linear;*/
  height: 40px;
}

.App-header {
  background-color: #148eca;
  text-align: center;
  height: 100px;
  width: 100%;
  padding: 30px;
  color: white;
}

.App-footer {
  display: flex;
  justify-content: flex-start;
  padding: 100px;
}

