body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.FeedbackForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    width: 100%;
}

.ScrollTrigger {
    width: 100%;
}

.App-logo {
    height: 60px;
}

.App-logo:hover {
    cursor: pointer;
}

.App-header {
    background-color: #003a57;
    text-align: center;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 80px;
    z-index: 200;
    color: white;
}

.App-header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 19px;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 720px;
}

.App-footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
}

.ClickableTableRow {
    cursor: pointer;
}

.TableRowColumn {
    padding-left: 19px !important;
}

.TableHeaderColumn {
    padding-left: 0 !important;
}

th {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Paperbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 100px 20px 60px;
    width: 600px;
    background-color: #ffffff;
    border-width: 1px;
    border-color: rgba(227, 224, 230, 0.23);
    border-style: solid;
    box-shadow: -0.5px -0.5px 8px 3px #c9c9c9;
}

.Question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px 0 15px 20px;
    cursor: help;
}

#Stepper {
    color: #ea7400;
}

.QuestionStepperLabel:hover svg {
    color: #ea7400;
}

.QuestionStepperLabel :hover{
    color: #ea7400;
}

.Question > label {
    color: #3c3c3c;
    cursor: help;
    font-size: 15px;
    font-weight: 450;
}

.Question textarea {
    width: 100%;
    resize: vertical;
    margin-top: 10px;
    font-size: 14px;
    color: #88878B;
}

.Question textarea[disabled] {
    border: none;
    background-color: #ffffff;
    resize: none;
    color: #88878B;
    padding: 0 8px 5px 2px;
    font-size: 16px;
}

.todos {
    width: 100% !important;
}

.todo-input {
    display: flex;
    flex-direction: column;
}

.TodoList {
    padding-left: 0 !important;
}

.todo-input > div > button {
    display: none;
}

.TodoItem {
    width: 395px;
    padding-bottom: 0px !important;
    padding-left: 60px !important;
}

.TodoItem.Checkbox {
    padding-left: 100px;
}

.TodoItem.completed {
    text-decoration: line-through;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 30px;
    width: 285px;
}

.credentials {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
}

.credentials > input[placeholder] {
    color: #c9c9c9;
    font-size: 12px;
}

.login-inputfield {
    margin: 15px;
}

.login-inputfield > input {
    margin-left: 10px;
    color: #88878B;
    font-size: 14px;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    outline: none;
}

.login-inputfield > label {
    color: #3c3c3c;
    font-size: 16px;
}

.LoginMask {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 20px 0;
}

.save-todos {
    text-align: center;
}

.login-btn {
    display: flex;
    justify-content: center !important;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 270px;
}

.login-form button {
    background-color: #ea7400 !important;
}

span[data-forhalf] {
    padding: 3px 0 3px 0;
    cursor: default !important;
}

.icon-large {
    width: 120px;
    height: 120px;
    padding: 30px;
}

#project-select-label label:hover > span {
    color: #ea7400 !important;
}

.nav-back-icon {
    font-size: 50px !important;
    padding: 5px;
    /*box-shadow: -0.5px -0.5px 10px 1px #c0c0c0;
    border-radius: 100%;
    background-color: #ffffff;*/
    position: fixed;
    bottom: 20px;
    left: 60px;
    color: #88878B;
}

.nav-back-icon:hover {
    color: #ea7400;
    cursor: pointer;
}
