body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.FeedbackForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee
}

.App-logo {
    height: 40px;
}

.App-header {
    background-color: #00BCD4;
    text-align: center;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.App-intro {
    font-size: large;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
    padding: 30px;
}

.App-footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
}

.ClickableTableRow {
    cursor: pointer;
}

.TableRowColumn {
    padding-left: 19px !important;
}

.TableHeaderColumn {
    padding-left: 0 !important;
}

th {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Questionnaire {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 100px 10px 60px;
    background-color: #ffffff;
    border-width: 1px;
    border-color: rgba(227, 224, 230, 0.23);
    border-style: solid;
    box-shadow: -0.5px -0.5px 8px 3px #c9c9c9;
}

.Question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0 15px 0;
}

.Question input {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: #88878B;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    outline: none;
}

.Question input[disabled] {
    border: none;
    background-color: #ffffff;
    color: #88878B;
    padding: 0 8px 5px 2px;
    font-size: 16px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 285px;
}

.save-btn {
    justify-content: center !important;
    width: 270px;
    color: #00BCD4;
}

.login-inputfield {
    margin: 10px;
}

.login-inputfield > input {
    margin-left: 10px;
}

.LoginMask {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 20px 0;
}

span[data-forhalf] {
    padding: 3px 0 3px 0;
    cursor: default !important;
}

.icon-large {
    width: 120px;
    height: 120px;
    padding: 30px;
}

