.App {

  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #148eca;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: #efefef;
  border: 1px;
  border-color: rgba(13, 51, 73, 0.23);
  border-style: solid;
}


.Question {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.Question input {
    width: 400px;
}

.Question button {
  width: 80px;
}

span[data-forhalf] {
  padding: 3px;
}

